*{
    margin: 5px;
}

#contenedor,#consult_btn, #campos,h1{
    display: flex;
    justify-content: center;
}
#caja1{
    padding: 5%;
}
#caja2{
    padding: 5%;
}
#exit{
    display: flex;
    justify-content: flex-start;
    margin-left: 31.2%;
}
#preguntas{
    margin: 8px;
}
.bd{
    background-color: #D0DDE6;
}
h1,h3{
    color: #7AD7F8;
    text-shadow: 3px 3px 2px black;
    font-family: 'Original Surfer', cursive;

}
h3{
    color: #7D848C;
    text-shadow: 3px 3px 2px #7AD7F8;
    font-family: 'Original Surfer', cursive;

}
#warn{
    color: red;
}